# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## Analysis

1. From looking at the heatmap. It is determined that the locations which have the most humidity are locations below the equator. 

2. The pinned hotels on the hotel map are located in high humidity areas and around the equator. We can determine that setting the temperatures between 70-80, wind speed less than 10 and have no cloudiness are areas with some humidity (located on green section of the humidity area) and are by the equator. 

3. The Saharan Desert is close to the equator, but does not have a humidity gradient on that area. This is because the desert has no atmospheric moisture.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities = pd.read_csv("output_data/cities.csv", encoding="utf-8")
cities.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
humidity = cities["Humidity"].astype(float)
maxhumidity = humidity.max()
locations = cities[["Lat", "Lng"]]

In [4]:
fig = gmaps.figure()
#create heat layer for the heatmap
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = maxhumidity, point_radius = 3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#narrowed the cities with a max temp of 70 or more, and less than 80
filtered_cities_df = cities.loc[(cities["Max Temp"] > 70) & (cities["Max Temp"] < 80) & (cities["Cloudiness"] == 0) & (cities["Wind Speed"] < 10), :]

#drop na variables
filtered_cities_df = filtered_cities_df.dropna(how='any')
filtered_cities_df.reset_index(inplace=True)
#delete the index column as it is not really needed
del filtered_cities_df['index']
filtered_cities_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
1,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
2,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
3,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
4,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotels = []

for i in range(len(filtered_cities_df)):
    lat = filtered_cities_df.loc[i]['Lat']
    lng = filtered_cities_df.loc[i]['Lng']

    #parameters to get the url requests
    params = {"location": f"{lat},{lng}","radius": 5000,"types" : "hotel","key": {g_key}}
    
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(url, params=params)
    jsn = requested.json()
    try:
        hotels.append(jsn['results'][0]['name'])
    except:
        hotels.append("")
#putting all the hotel names into the empty hotel list. 
filtered_cities_df["Hotel Name"] = hotels
filtered_cities_df = filtered_cities_df.dropna(how='any')
filtered_cities_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32,Capitólio
1,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50,CIDREIRA
2,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06,Morondava
3,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59,Jagalbet
4,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93,Nador

In [7]:
#template to make the heatmap with the hotel data
template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
#store everything into 
hotel_info = [template.format(**row) for index, row in filtered_cities_df.iterrows()]
locations = filtered_cities_df[["Lat", "Lng"]]

In [8]:
figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))

# Create hotel symbol layer
hotel_layer = gmaps.marker_layer(
    locations,info_box_content=[template.format(**row) for index, row in filtered_cities_df.iterrows()]
)


# Add layer
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)
# Display figure
fig


# Add marker layer ontop of heat map
#import gmaps
#import gmaps.datasets
#gmaps.configure(api_key="AIzaSyCOxZQSsdKu_ezcWeT-NMYHNfXG_3t05pQ")
#fig = gmaps.Map()
# Display figure
#markers = gmaps.marker_layer(locations)
#fig.add_layer(markers)



fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…